[connectivity]
# format: sp=<cu_name>.<argument>:<sptag>
sp=DiffRenderHLS_1.vertex_buffer_data:HP0
sp=DiffRenderHLS_1.ebo_buffer_data:HP0
sp=DiffRenderHLS_1.kf_texture_data:HP1
sp=DiffRenderHLS_1.dkfdxy_texture_data:HP1
sp=DiffRenderHLS_1.image_texture_data:HP2
sp=DiffRenderHLS_1.jtra_texture_data:HP2
sp=DiffRenderHLS_1.jrot_texture_data:HP2
sp=DiffRenderHLS_1.jexp_texture_data:HP3
sp=DiffRenderHLS_1.jmap_texture_data:HP3
sp=DiffRenderHLS_1.pids_texture_data:HP3