[connectivity]
# format: sp=<cu_name>.<argument>:<sptag>
sp=ImageRenderHLS_1.vertex_buffer_data:HP0
sp=ImageRenderHLS_1.ebo_buffer_data:HP0
sp=ImageRenderHLS_1.diffuse_texture_data_ch1:HP1
sp=ImageRenderHLS_1.diffuse_texture_data_ch2:HP1
sp=ImageRenderHLS_1.diffuse_texture_data_ch3:HP2
sp=ImageRenderHLS_1.diffuse_texture_data_ch4:HP2
sp=ImageRenderHLS_1.out_texture_data:HP3